html, body 
{
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background: linear-gradient(rgb(255, 255, 255), rgb(50, 190, 235)); /*fading background-color */
                display: flex; /*makes the site adaptable*/
                flex-direction: column;  
            }
            header
            {
                height: 10%;
                width: 100%;
                background: linear-gradient(rgb(10, 150, 195), rgb(210, 235, 240)); /*fading background-color */
                display: flex; /*makes the site adaptable*/
            }
            .header h1
            {
                color: rgb(0, 255, 230); /*color of the text*/
                font-size: 30px; /*size of the text*/
                font-weight: bold; /*makes te text bold*/
                font-style: italic; /*Makes the text italic*/
            }
            #navbar
            {
                background-color: white; /*background-color of the navigation-bar*/
                text-align: center; /*the text is centered*/
            }
            ul
            {
                border: solid black 1px; /*Border around the navigation bar*/
            }
            li a /*items/links in the navigationbar */
            {
                display: block; /*Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width*/
                color: rgb(10, 150, 195); /*Color og the text in the navigation-bar*/
                text-align: center; /*the text in the navigation-bar is centered*/
                padding: 14px 16px; /*padding top and padding right*/
            }
            li a:hover /*when you hover the mouse over the items in the navigation bar */
            {
                background-color: rgb(210, 235, 240); /*links in the navigation-bar gets a background-color*/
            }
            li a.active /*when link is open */
            {
                font-weight: bold; /*The link-text gets bold*/
                text-decoration: underline blue; /*The link-text gets underlined*/
            }
            #Admin h2 /*h2 heading i in the content of the admin-tab*/
            {
                font-family: Rockwell; /*font-family of the heading*/
                font-weight:bold; /*the text is bold*/
                text-align: center; /*the text is centered*/
                font-style: italic; /*the text is italic*/
                color: rgb(45, 165, 245); /*color of the text*/
                padding: 20px; /*padding around the heading*/
            }
            .form-group
            {
                float: left;/*place the items in every form-group beside each other*/
            }
            footer 
            {
                position: fixed; /*makes the footer stay in the same place no matter what*/
                left: 0; /*places the footer from left with no margin or anything like that*/
                bottom: 0; /*places the footer from bottom with no margin or anything like that*/
                width: 100%; /*width of the footer is he same as the width of the page*/
                height: 7%; /*height is 7% of the page*/
                background: linear-gradient(rgb(210, 235, 240), rgb(10, 150, 195));/*fading background-color */
                color: black; /*color of the text in the footer*/
                display: flex; /*makes the site adaptable*/
            }
            /*table---------------------------------*/
            table
            {
                width: 100%; /*Width of the table is the same as the width of the page*/
            }
            #tablecontent
            {
                width:100%; /*Width of the table is the same as the width of the page */
                height:250px; /*Height of the table*/
                line-height:3em; /*Height of each line in the table*/
                overflow:auto; /*Makes t a scrollbox, when there is more content in the table than there's room for*/
                border: solid black 2px; /*Border around the table*/
            }
            th /*Table header*/
            {
                background-color: #588c7e; /*background color of the table header*/
                color: white;/*Text color of the text in the header*/
            }
            tr:nth-child(even) {background-color: #f2f2f2} /*Every other line in the table is grey*/