.header {
	background-image: linear-gradient(blue, white);
	color: lightgreen;
}

.nav {
	background-color: white;
	border-color: black;
	border: 1px solid;
}

.content {
	background-image: linear-gradient(white, blue);
}
.footer {
	background-image: linear-gradient(blue, white);
}



canvas {
  background-color: green; 
  width: 100%;
  height: auto;
}

